# FONT
font-family = "JetBrainsMono Nerd Font"
font-style = "Bold"
font-size = 11
font-synthetic-style = italic

# CURSOR
cursor-style = block
cursor-style-blink = true
shell-integration-features = cursor

#THEME
theme = dark:catppuccin-mocha,light:catppuccin-latte

maximize = true
quick-terminal-position = top
command = /usr/bin/zsh
