fullscreen = true
# FONT
font-family = "FiraCode Nerd Font Mono"
font-family-bold = "FiraCode Nerd Font Mono Bold"
font-size = 11
# font-style-bold = Bold

# CURSOR
cursor-style = block
cursor-style-blink = true
shell-integration-features = cursor

#THEME
# theme = catppuccin-latte
theme = catppuccin-mocha

#KEYBIND
# keybind = global:super+enter=toggle_quick_terminal
