# FONT
font-family = "JetBrainsMono Nerd Font"
font-family-bold = "JetBrainsMono NF Bold"
font-size = 11
# font-style-bold = Bold

# CURSOR
cursor-style = block
cursor-style-blink = true
shell-integration-features = cursor

#THEME
theme = dark:catppuccin-macchiato,light:catppuccin-latte

maximize = true
quick-terminal-position = top

#KEYBIND
# keybind = global:f12=toggle_quick_terminal
