! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:a46e6e6e, #000000, #000000
rofi.color-normal: argb:0000000, #b5b5b5, argb:0000000, argb:81000000, #c5c5c5
rofi.color-active: argb:0fdf6e3, #ffffff, #4d4a4a, #2e2e2e, #ffffff
rofi.color-urgent: #444342, #c01916, #444444, #dc322f, #000000
