rofi.modi: run
rofi.width: 20
rofi.lines: 4
rofi.font: Droid Sans Mono for Powerline 10
rofi.color-enabled: true
rofi.color-window: #1D1F21, #0087AF, #0087AF
rofi.color-normal: #1D1F21, #F7FDF2, #1D1F21, #0087AF, #F7FDF2
rofi.color-active: #1D1F21, #F7FDF2, #1D1F21, #0087AF, #0087AF
rofi.color-urgent: #444342, #E53935, #1D1F21, #E53935, #0087AF
